# Binaries
/ingestion-service
/ingestion
/load-generator
/load_generator
/sink-writer
/rollup-job
/request_metrics_minute
/service_events_daily
/purge
bin/
*.o
*.a

# Data
data/
storage/trino/data/
storage/cube/data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Docker
.env
